<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <h1>Življenje in delo</h1>
      <p>Rodila se je 31. 8. 1870 v Italiji. Že v zgodnjem otroštvu sta se pri njej izoblikovala občutek za dolžnost in gospodovalna narava. Tri leta po njenem rojstvu se je družina preselila v Rim, kjer je Maria dokončala eno od javnih osnovnih šol. Njeno zanimanje za matematiko je družino prepričalo, da so jo vpisali na srednjo šolo za dečke. Pozneje je njena močna želja po študiju medicine povzročila hud razkol med njo in očetom, saj se do takrat še nobena ženska v Italiji ni odločila za študij medicine.</p>

      <p>Leta 1896 je diplomirala in odšla na feministično zborovanje v Berlin, kjer je imela odličen govor. Leto pozneje je postala asistentka na Psihiatrični kliniki Univerze v Rimu. Istega leta je imela tudi zelo odmeven nastop na Pedagoškem kongresu v Torinu. Kmalu je odprla lastno zasebno kirurško prakso in bila 2 leti ravnateljica šole za duševno prizadete otroke v Rimu. Posvečala se je študiju problemov psihično zaostalih t. i. retardiranih otrok. Imela je tudi nezakonskega sina. Dolgo časa ga je skrivala pod pretvezo, da je njen nečak. Po rojstvu otroka se je spet posvetila študiju, kjer je proučevala metode poučevanja, zanimala pa sta jo tudi higiena in psihologija. Pri svojem delu je bila iz dneva v dan v stiku z otroki in opazovala stanje v javnih šolah, ki je bilo takrat obupno. Tudi to jo je vzpodbudilo, da se je začela ukvarjati z otroki in njihovo vzgojo.</p>

      <p>V šolah so otroke bolj urili kot vzgajali. Učenje je bilo predstavljeno kot učenje dejstev na pamet in recitiranje naučenega učitelju. Maria je bila vedno bolj mnenja, da »otrok ne smemo siliti k učenju, oni se namreč želijo učiti, če jim le ponudimo primerne pripomočke in omogočimo ustrezne izkušnje«, primerne stopnji razvoja in starosti otrok.</p>

      <p>Leta 1907 je ustanovila prvo Otroško hišo − Casa dei Bambini, kot je sama poimenovala novo izobraževalno in predvsem vzgojno ustanovo, katere glas se je pozneje hitro razširil po vsej Evropi, Ameriki in tudi Indiji. Hiša je stala v San Lorenzu, predmestju Rima, kjer so živeli predvsem otroci na skrajnem robu preživetja, nekultivirani in prepuščeni samim sebi.</p>

      <p>Pri delu z otroki s posebnimi potrebami v zavodih je razvila tako imenovane čutne pripomočke, s katerimi so se otroci učili prek vseh čutov. Prvi je takšne pripomočke razvil Seguin, Montessorijeva pa jih je natančno izpopolnila. Razvila je poučevanje z matematičnimi in geometrijskimi oblikami, nenavadnimi vonji ter tipanjem grobih in nežnih površin. Tako je razvila svoj lasten vzgojni koncept.</p>

      <h1>Vzgojni koncept Marie Montessori</h1>
      <p>Metoda Montessori je nastala iz opazovanja otrok. Spontano početje otrok jo je pripeljalo do novih spoznanj o otroškem vedenju in učenju. Ugotovila je, da otroci čutijo potrebo po ponavljanju, saj jim daje občutek varnosti. Otrok v šoli Montessori ima potrebo po redu in čistoči, saj predmet, ki ga je uporabljal, lepo pospravi na svoje mesto na polici. V učilnici torej vladata red in mir.</p>

      <p>»Pomagaj mi, da naredim sam« je glavni in vodilni motiv pedagogike Montessori. Otrok lahko svobodno izbere material, sam popravlja svoje napake in si izbira mesto za delo. Učenci se svobodno odločajo, kaj želijo početi, svojo svobodo pa uresničujejo z neprestanim trudom.</p>

      <p>Lahko si položi preprogo na tla in dela na njej.  Ta nadomesti mizo in stol. Prostor, v katerem dela, je omejen zaradi spoštovanja zasebnosti.</p>

      <p>Otroci za delo potrebujejo čas. Postopno spoznajo, da je delo čudovita stvar. Pomagajo tudi pri pripravljanju in strežbi kosila ali skrbi za rože in domače živali ter tudi za predmete, ki se lahko razbijejo.</p>

      <p>Osnova procesa učenja in bistvo njene metode so čutni pripomočki. Z njimi otrok razvija in pridobiva izkušnje z vsemi čuti (dotik, vid, sluh, voh, okus). Deluje z rokami in razumom in gradi svoje znanje prek napak in poskusov. S tem omogoča kontrolo napak in samovzgojo. Material je narejen tako, da otrok ne potrebuje prisotnosti ali posredovanja učitelja. Primer materiala je »zbirka valjev različnih dimenzij, ki jih je moč vtakniti v ravno pravšnjo luknjo na posebni deski«.</p>

      <p>»Otrok prične raziskovati okolico z gibanjem, zato mu moramo omogočiti motorično aktivnost s primernimi vajami. Temeljne opore pri njegovem samostojnem delu so torej okolje, učitelj, ki to okolje pripravi, in razvojni material«.</p>

      <h1>Okolje</h1>

      <p>Montessori šola v Haagu na Nizozemskem, 1915
      Okolje spreminja otroka, zato mora biti takšno, da v njem lahko otrok čim bolje razvija svoje funkcije. Družina je prvi in najpomembnejši dejavnik pri vzpostavljanju okolja. Okolje pomaga otroku, da začne samostojno oblikovati svoj duševni svet, da razvija koncentracijo, medtem ko opravlja delo po svoji izbiri. Vsa oprema je prilagojena otrokom, tako da jim je vse na dosegu roke. Idealna učilnica ima na stenah dovolj nizko nameščene table ter nizke omarice in police.</p>

      <h1>Učitelj</h1>
      <p>Učitelj pripravlja okolje in ne posreduje znanja otrokom na frontalen način. Je pasiven in s tem otroka osvobaja zaprek. Starši in učitelji mu ne smejo vsiljevati svojih mišljenj, saj bi s tem zavirali otrokov razvoj. Otrok je aktiven v raziskovanju sveta, učitelj pa je njegov vodič. »Učiteljeva funkcija je, da omogoča odnos med otrokom in razporeditvijo v okolju, da pospešuje interakcijo med otrokom in materialom«. Učitelj ima nalogo, da vsakemu otroku pomaga pri razvojnem projektu in ga pripelje k neodvisnosti.</p>
    </div>
  </div>
</div>
