<div id="body-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <div style="text-align:center">
          <h1>Stran je v izdelavi</h1>
        </div>
        <div class="row">
          <div style="text-align:center">
            <h1>HIŠA OTROK MOZAIK, SONJA RAJH, S.P. </h1>
          </div>
        </div>
        <div class="row">
          <div style="text-align:center">
            <%=link_to  "INFO: montessori.mozaik@gmail.com", 'mailto:montessori.mozaik@gmail.com'%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
