<div class="row">
  <div style="text-align:center">
    <%= image_tag asset_path('Montessori-mozaik_logo.png') %>
  </div>
</div>
<div class="row">
  <div style="text-align:center">
    <h1>VARSTVO OTROK</h1>
  </div>
</div>
<div class="row">
  <div style="text-align:center">
    <h1>HIŠA OTROK MOZAIK, SONJA RAJH, S.P. </h1>
  </div>
</div>
<div class="row">
  <div style="text-align:center">
    <%=link_to  "INFO: montessori.mozaik@gmail.com", 'mailto:montessori.mozaik@gmail.com'%>
  </div>
</div>
